@font-face
  font-family 'element-icons'
  src url('@/assets/fonts/element-icons.woff') format('woff'), /* chrome, firefox */
       url('@/assets/fonts/element-icons.ttf') format('truetype') /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  font-weight normal
  font-display auto
  font-style normal

[class^="le-icon-"], [class*=" le-icon-"]
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family 'element-icons' !important
  speak none
  font-style normal
  font-weight normal
  font-variant normal
  text-transform none
  line-height 1
  vertical-align baseline
  display inline-block

  /* Better Font Rendering =========== */
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

.le-icon-ice-cream-round:before
  content "\e6a0"

.le-icon-ice-cream-square:before
  content "\e6a3"

.le-icon-lollipop:before
  content "\e6a4"

.le-icon-potato-strips:before
  content "\e6a5"

.le-icon-milk-tea:before
  content "\e6a6"

.le-icon-ice-drink:before
  content "\e6a7"

.le-icon-ice-tea:before
  content "\e6a9"

.le-icon-coffee:before
  content "\e6aa"

.le-icon-orange:before
  content "\e6ab"

.le-icon-pear:before
  content "\e6ac"

.le-icon-apple:before
  content "\e6ad"

.le-icon-cherry:before
  content "\e6ae"

.le-icon-watermelon:before
  content "\e6af"

.le-icon-grape:before
  content "\e6b0"

.le-icon-refrigerator:before
  content "\e6b1"

.le-icon-goblet-square-full:before
  content "\e6b2"

.le-icon-goblet-square:before
  content "\e6b3"

.le-icon-goblet-full:before
  content "\e6b4"

.le-icon-goblet:before
  content "\e6b5"

.le-icon-cold-drink:before
  content "\e6b6"

.le-icon-coffee-cup:before
  content "\e6b8"

.le-icon-water-cup:before
  content "\e6b9"

.le-icon-hot-water:before
  content "\e6ba"

.le-icon-ice-cream:before
  content "\e6bb"

.le-icon-dessert:before
  content "\e6bc"

.le-icon-sugar:before
  content "\e6bd"

.le-icon-tableware:before
  content "\e6be"

.le-icon-burger:before
  content "\e6bf"

.le-icon-knife-fork:before
  content "\e6c1"

.le-icon-fork-spoon:before
  content "\e6c2"

.le-icon-chicken:before
  content "\e6c3"

.le-icon-food:before
  content "\e6c4"

.le-icon-dish-1:before
  content "\e6c5"

.le-icon-dish:before
  content "\e6c6"

.le-icon-moon-night:before
  content "\e6ee"

.le-icon-moon:before
  content "\e6f0"

.le-icon-cloudy-and-sunny:before
  content "\e6f1"

.le-icon-partly-cloudy:before
  content "\e6f2"

.le-icon-cloudy:before
  content "\e6f3"

.le-icon-sunny:before
  content "\e6f6"

.le-icon-sunset:before
  content "\e6f7"

.le-icon-sunrise-1:before
  content "\e6f8"

.le-icon-sunrise:before
  content "\e6f9"

.le-icon-heavy-rain:before
  content "\e6fa"

.le-icon-lightning:before
  content "\e6fb"

.le-icon-light-rain:before
  content "\e6fc"

.le-icon-wind-power:before
  content "\e6fd"

.le-icon-baseball:before
  content "\e712"

.le-icon-soccer:before
  content "\e713"

.le-icon-football:before
  content "\e715"

.le-icon-basketball:before
  content "\e716"

.le-icon-ship:before
  content "\e73f"

.le-icon-truck:before
  content "\e740"

.le-icon-bicycle:before
  content "\e741"

.le-icon-mobile-phone:before
  content "\e6d3"

.le-icon-service:before
  content "\e6d4"

.le-icon-key:before
  content "\e6e2"

.le-icon-unlock:before
  content "\e6e4"

.le-icon-lock:before
  content "\e6e5"

.le-icon-watch:before
  content "\e6fe"

.le-icon-watch-1:before
  content "\e6ff"

.le-icon-timer:before
  content "\e702"

.le-icon-alarm-clock:before
  content "\e703"

.le-icon-map-location:before
  content "\e704"

.le-icon-delete-location:before
  content "\e705"

.le-icon-add-location:before
  content "\e706"

.le-icon-location-information:before
  content "\e707"

.le-icon-location-outline:before
  content "\e708"

.le-icon-location:before
  content "\e79e"

.le-icon-place:before
  content "\e709"

.le-icon-discover:before
  content "\e70a"

.le-icon-first-aid-kit:before
  content "\e70b"

.le-icon-trophy-1:before
  content "\e70c"

.le-icon-trophy:before
  content "\e70d"

.le-icon-medal:before
  content "\e70e"

.le-icon-medal-1:before
  content "\e70f"

.le-icon-stopwatch:before
  content "\e710"

.le-icon-mic:before
  content "\e711"

.le-icon-copy-document:before
  content "\e718"

.le-icon-full-screen:before
  content "\e719"

.le-icon-switch-button:before
  content "\e71b"

.le-icon-aim:before
  content "\e71c"

.le-icon-crop:before
  content "\e71d"

.le-icon-odometer:before
  content "\e71e"

.le-icon-time:before
  content "\e71f"

.le-icon-bangzhu:before
  content "\e724"

.le-icon-close-notification:before
  content "\e726"

.le-icon-microphone:before
  content "\e727"

.le-icon-turn-off-microphone:before
  content "\e728"

.le-icon-position:before
  content "\e729"

.le-icon-postcard:before
  content "\e72a"

.le-icon-message:before
  content "\e72b"

.le-icon-chat-line-square:before
  content "\e72d"

.le-icon-chat-dot-square:before
  content "\e72e"

.le-icon-chat-dot-round:before
  content "\e72f"

.le-icon-chat-square:before
  content "\e730"

.le-icon-chat-line-round:before
  content "\e731"

.le-icon-chat-round:before
  content "\e732"

.le-icon-set-up:before
  content "\e733"

.le-icon-turn-off:before
  content "\e734"

.le-icon-open:before
  content "\e735"

.le-icon-connection:before
  content "\e736"

.le-icon-link:before
  content "\e737"

.le-icon-cpu:before
  content "\e738"

.le-icon-thumb:before
  content "\e739"

.le-icon-female:before
  content "\e73a"

.le-icon-male:before
  content "\e73b"

.le-icon-guide:before
  content "\e73c"

.le-icon-news:before
  content "\e73e"

.le-icon-price-tag:before
  content "\e744"

.le-icon-discount:before
  content "\e745"

.le-icon-wallet:before
  content "\e747"

.le-icon-coin:before
  content "\e748"

.le-icon-money:before
  content "\e749"

.le-icon-bank-card:before
  content "\e74a"

.le-icon-box:before
  content "\e74b"

.le-icon-present:before
  content "\e74c"

.le-icon-sell:before
  content "\e6d5"

.le-icon-sold-out:before
  content "\e6d6"

.le-icon-shopping-bag-2:before
  content "\e74d"

.le-icon-shopping-bag-1:before
  content "\e74e"

.le-icon-shopping-cart-2:before
  content "\e74f"

.le-icon-shopping-cart-1:before
  content "\e750"

.le-icon-shopping-cart-full:before
  content "\e751"

.le-icon-smoking:before
  content "\e752"

.le-icon-no-smoking:before
  content "\e753"

.le-icon-house:before
  content "\e754"

.le-icon-table-lamp:before
  content "\e755"

.le-icon-school:before
  content "\e756"

.le-icon-office-building:before
  content "\e757"

.le-icon-toilet-paper:before
  content "\e758"

.le-icon-notebook-2:before
  content "\e759"

.le-icon-notebook-1:before
  content "\e75a"

.le-icon-files:before
  content "\e75b"

.le-icon-collection:before
  content "\e75c"

.le-icon-receiving:before
  content "\e75d"

.le-icon-suitcase-1:before
  content "\e760"

.le-icon-suitcase:before
  content "\e761"

.le-icon-film:before
  content "\e763"

.le-icon-collection-tag:before
  content "\e765"

.le-icon-data-analysis:before
  content "\e766"

.le-icon-pie-chart:before
  content "\e767"

.le-icon-data-board:before
  content "\e768"

.le-icon-data-line:before
  content "\e76d"

.le-icon-reading:before
  content "\e769"

.le-icon-magic-stick:before
  content "\e76a"

.le-icon-coordinate:before
  content "\e76b"

.le-icon-mouse:before
  content "\e76c"

.le-icon-brush:before
  content "\e76e"

.le-icon-headset:before
  content "\e76f"

.le-icon-umbrella:before
  content "\e770"

.le-icon-scissors:before
  content "\e771"

.le-icon-mobile:before
  content "\e773"

.le-icon-attract:before
  content "\e774"

.le-icon-monitor:before
  content "\e775"

.le-icon-search:before
  content "\e778"

.le-icon-takeaway-box:before
  content "\e77a"

.le-icon-paperclip:before
  content "\e77d"

.le-icon-printer:before
  content "\e77e"

.le-icon-document-add:before
  content "\e782"

.le-icon-document:before
  content "\e785"

.le-icon-document-checked:before
  content "\e786"

.le-icon-document-copy:before
  content "\e787"

.le-icon-document-delete:before
  content "\e788"

.le-icon-document-remove:before
  content "\e789"

.le-icon-tickets:before
  content "\e78b"

.le-icon-folder-checked:before
  content "\e77f"

.le-icon-folder-delete:before
  content "\e780"

.le-icon-folder-remove:before
  content "\e781"

.le-icon-folder-add:before
  content "\e783"

.le-icon-folder-opened:before
  content "\e784"

.le-icon-folder:before
  content "\e78a"

.le-icon-edit-outline:before
  content "\e764"

.le-icon-edit:before
  content "\e78c"

.le-icon-date:before
  content "\e78e"

.le-icon-c-scale-to-original:before
  content "\e7c6"

.le-icon-view:before
  content "\e6ce"

.le-icon-loading:before
  content "\e6cf"

.le-icon-rank:before
  content "\e6d1"

.le-icon-sort-down:before
  content "\e7c4"

.le-icon-sort-up:before
  content "\e7c5"

.le-icon-sort:before
  content "\e6d2"

.le-icon-finished:before
  content "\e6cd"

.le-icon-refresh-left:before
  content "\e6c7"

.le-icon-refresh-right:before
  content "\e6c8"

.le-icon-refresh:before
  content "\e6d0"

.le-icon-video-play:before
  content "\e7c0"

.le-icon-video-pause:before
  content "\e7c1"

.le-icon-d-arrow-right:before
  content "\e6dc"

.le-icon-d-arrow-left:before
  content "\e6dd"

.le-icon-arrow-up:before
  content "\e6e1"

.le-icon-arrow-down:before
  content "\e6df"

.le-icon-arrow-right:before
  content "\e6e0"

.le-icon-arrow-left:before
  content "\e6de"

.le-icon-top-right:before
  content "\e6e7"

.le-icon-top-left:before
  content "\e6e8"

.le-icon-top:before
  content "\e6e6"

.le-icon-bottom:before
  content "\e6eb"

.le-icon-right:before
  content "\e6e9"

.le-icon-back:before
  content "\e6ea"

.le-icon-bottom-right:before
  content "\e6ec"

.le-icon-bottom-left:before
  content "\e6ed"

.le-icon-caret-top:before
  content "\e78f"

.le-icon-caret-bottom:before
  content "\e790"

.le-icon-caret-right:before
  content "\e791"

.le-icon-caret-left:before
  content "\e792"

.le-icon-d-caret:before
  content "\e79a"

.le-icon-share:before
  content "\e793"

.le-icon-menu:before
  content "\e798"

.le-icon-s-grid:before
  content "\e7a6"

.le-icon-s-check:before
  content "\e7a7"

.le-icon-s-data:before
  content "\e7a8"

.le-icon-s-opportunity:before
  content "\e7aa"

.le-icon-s-custom:before
  content "\e7ab"

.le-icon-s-claim:before
  content "\e7ad"

.le-icon-s-finance:before
  content "\e7ae"

.le-icon-s-comment:before
  content "\e7af"

.le-icon-s-flag:before
  content "\e7b0"

.le-icon-s-marketing:before
  content "\e7b1"

.le-icon-s-shop:before
  content "\e7b4"

.le-icon-s-open:before
  content "\e7b5"

.le-icon-s-management:before
  content "\e7b6"

.le-icon-s-ticket:before
  content "\e7b7"

.le-icon-s-release:before
  content "\e7b8"

.le-icon-s-home:before
  content "\e7b9"

.le-icon-s-promotion:before
  content "\e7ba"

.le-icon-s-operation:before
  content "\e7bb"

.le-icon-s-unfold:before
  content "\e7bc"

.le-icon-s-fold:before
  content "\e7a9"

.le-icon-s-platform:before
  content "\e7bd"

.le-icon-s-order:before
  content "\e7be"

.le-icon-s-cooperation:before
  content "\e7bf"

.le-icon-bell:before
  content "\e725"

.le-icon-message-solid:before
  content "\e799"

.le-icon-video-camera:before
  content "\e772"

.le-icon-video-camera-solid:before
  content "\e796"

.le-icon-camera:before
  content "\e779"

.le-icon-camera-solid:before
  content "\e79b"

.le-icon-download:before
  content "\e77c"

.le-icon-upload2:before
  content "\e77b"

.le-icon-upload:before
  content "\e7c3"

.le-icon-picture-outline-round:before
  content "\e75f"

.le-icon-picture-outline:before
  content "\e75e"

.le-icon-picture:before
  content "\e79f"

.le-icon-close:before
  content "\e6db"

.le-icon-check:before
  content "\e6da"

.le-icon-plus:before
  content "\e6d9"

.le-icon-minus:before
  content "\e6d8"

.le-icon-help:before
  content "\e73d"

.le-icon-s-help:before
  content "\e7b3"

.le-icon-circle-close:before
  content "\e78d"

.le-icon-circle-check:before
  content "\e720"

.le-icon-circle-plus-outline:before
  content "\e723"

.le-icon-remove-outline:before
  content "\e722"

.le-icon-zoom-out:before
  content "\e776"

.le-icon-zoom-in:before
  content "\e777"

.le-icon-error:before
  content "\e79d"

.le-icon-success:before
  content "\e79c"

.le-icon-circle-plus:before
  content "\e7a0"

.le-icon-remove:before
  content "\e7a2"

.le-icon-info:before
  content "\e7a1"

.le-icon-question:before
  content "\e7a4"

.le-icon-warning-outline:before
  content "\e6c9"

.le-icon-warning:before
  content "\e7a3"

.le-icon-goods:before
  content "\e7c2"

.le-icon-s-goods:before
  content "\e7b2"

.le-icon-star-off:before
  content "\e717"

.le-icon-star-on:before
  content "\e797"

.le-icon-more-outline:before
  content "\e6cc"

.le-icon-more:before
  content "\e794"

.le-icon-phone-outline:before
  content "\e6cb"

.le-icon-phone:before
  content "\e795"

.le-icon-user:before
  content "\e6e3"

.le-icon-user-solid:before
  content "\e7a5"

.le-icon-setting:before
  content "\e6ca"

.le-icon-s-tools:before
  content "\e7ac"

.le-icon-delete:before
  content "\e6d7"

.le-icon-delete-solid:before
  content "\e7c9"

.le-icon-eleme:before
  content "\e7c7"

.le-icon-platform-eleme:before
  content "\e7ca"

.le-icon-loading
  animation rotating 2s linear infinite

.le-icon--right
  margin-left 5px
.le-icon--left
  margin-right 5px

@keyframes rotating
  0%
    transform rotateZ(0deg)
  100%
    transform rotateZ(360deg)
